.section-two {
    padding: 140px 80px 0;
}

.symbols svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.child h4 {
    margin: 20px 0 25px;
}

.child p {
    margin-top: 15px;
}

.btn-chat {
    padding: 15px 20px;
    background: transparent;
    border: 2px solid #1d4ed8;
    color: #1d4ed8;
    font-weight: 500;
    margin: 20px 0 10px;
}

.btn-chat:hover {
    color: #fff;
    transition: .5s ease-in-out;
}

.form-section {
    padding:80px 0 20px;
}

.section-12-content {
    background: #f0fdf4;
    border: 2px solid #bbf7d0;
    padding: 20px;
}

.section-12-content h3 {
    color: #166534;
    font-size: 1rem;
}

.section-12-content ul {
    color: #15803d;
    font-size: .85rem;
}